html {
    background-color: #3B28CC;
}

body {
    max-width:1200px;
    margin:auto;
}

header {
    color:#FEDEEE;
    padding-bottom:25px;
}

h1 { 
    font-family: "Barriecito"; 
    font-size:50px;
    text-align:center;
    margin-bottom:0;
}

h2 { 
    font-family: "Elms Sans"; 
    font-size:20px;
    text-align:center;
    margin-top:0;
}

p {
    color:#FEDEEE;
    font-family: "Elms Sans";
    font-size:20px;
}

.day {
    background-color:#FEDEEE;
    color:#3B28CC;
    padding:35px;
    border-radius:7px;
    font-size:40px;
    font-family: "Elms Sans";
    font-weight:700;
}

.day:hover {
    scale:1.2;
    cursor:pointer;
}

.clicked {
    background-color:#F3FFD6;
    outline: 5px solid #F3FFD6;
    outline-offset: 5px;
    cursor:pointer;
}

#info {
    padding-top:40px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-rows: auto auto 1fr;
    position:relative;
    margin-left:50px;
    z-index:2;
    height:300px;
}

#treat,#time {
    position:relative;
    left:-100px;
    font-weight:800;
}



#visuals {
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap:20px;
}

#options {
    display:flex;
    justify-content:space-evenly;
    gap:5px;
    padding-bottom:40px;
}

#legend {
    grid-column: 1 / span 2;
    grid-row: 3;

    display:flex;
    flex-direction:column;
    gap:2px;
}

.legend-item {
    display:flex;
    align-items:center;
    gap:8px;
}

#themost {
    background-color:#FF3DD8;
    padding:20px;
}

#very {
    background-color:#3DFF97;
    padding:20px;
}

#somewhat {
    background-color:#FFBE3D;
    padding:20px;
}

#meter {
    position:absolute;
}

#action {
    padding:40px;
    position:relative;
    z-index:1;
    width:500px;
    height:400px;
}

.treatimg {
    bottom:80px;
    position:absolute;
    left:40%;
    transform: translateX(-50%);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    max-width:400px;
    max-height:300px;
    width:auto;
    height:auto;
}

.side-by-side:first-of-type {
    left:35%;
    transform: translateX(-120%);
}

.side-by-side:last-of-type {
    left:50%;
    transform: translateX(20%);
}

.tall {
    max-height:300px;
}

#plate {
    position:absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}

