body {
    background-image:url(images/phoneBG.jpg);
    text-align:center;
    background-color: #07375D;
    color:#E4FAC9;
}

header {
    font-family: 'rl-horizon';
    margin:auto;
}

#container {
    margin:auto;
}

main ol,main ul {
    padding-left:0;
    margin:10px;
}

main {
    background-image: linear-gradient(to bottom,rgb(139, 146, 46),rgba(139, 146, 46,0));
    border-radius: 20px;
    margin:10px;
}

h2{
    background-color:#E4FAC9;
    color:#8B922E;
    margin:10px;
}

h3 {
    color:#E4FAC9;
    font-family: 'rl-horizon';
    text-align:left;
    padding:10px;
}

h2.switch {
    background-color:#FFBA0D;
    color:#07375D;
}

h1.switch {
    color:#FFBA0D;
}


section li.switch {
    background-color: #FFBA0D;
}

section ul,
section ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

section li {
    display: flex;
    align-items: center;   /* vertical centering */
    justify-content:center;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    background-color: #FFBA0D;
    border-radius: 10px;
    padding: 12px 0 12px 35%;
}

main.switch {
    background-image: linear-gradient(to bottom,rgba(224, 203, 108, 0.7),rgba(224, 189, 106, 0.1));
}

body.switch {
    background-image:url(images/phoneBG-night.png);
}

nav ol, nav ul {
    list-style-type: none;
    text-align:left;
}

a {
    text-decoration: none;
}

section li {
    font-family: "Darker Grotesque";
    text-align:center;
    background-color: #E4FAC9;
    color:#8B922E;
    padding:10px;
    padding-left:0;
    margin:auto;
}

body.switch section li {
    background-color: #FFBA0D;
    color:#07375D;
}

body.switch section a {
    background-color: #FFBA0D;
    color:#07375D;
}

section a {
    color: #8B922E;
}

section a:hover {
    color:white;
}

section li:hover {
    background-color: #07375D;
    color: white;
}

.fa-solid {
    padding-right:10px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #fff;

}

button.switch {
    background-color: transparent;
    border: none;
}

button.switch:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #fff;
}

li {
    padding-top:20px;
    text-align:left;
}

ol {
    text-align:center;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #fff;

}

button.switch {
    background-color: transparent;
    border: none;
}

button.switch:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #fff;
}

#phrase {
    text-align:center;
    font-size:45px;
    margin:auto;
    font-family: 'deseo-medium';
    color:navy;
    padding-bottom:20px;
    pointer-events: none;
}

#phrase p {
    margin:0;
}

#phrase p:last-of-type {
    opacity: 0;
    display:none;
}

body.switch #phrase p:last-of-type {
    opacity: 1;
    font-family:'rl-horizon';
    font-size:20px;
    display:inline;
}






/* ----------- macbook -------------- */
@media (min-width: 768px) {
    body {
        background-image:url(images/macbookBG.jpg);
        background-position: center 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    h1,h2 {
        margin:0;
    }

    main {
        display: flex;
        justify-content: space-evenly;
        margin: 1em auto;
    }

    h1{
        font-size:2.5em;
        padding-bottom:8px;
    }

    header {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: space-evenly;
        margin-top:10px;
    }

    #container {
        width:800px;
        margin-right:10px;
        padding-top:170px;
        padding-left:50px;
    }

    main {
        background-image: linear-gradient(to bottom,rgb(139, 146, 46),rgba(139, 146, 46,0));
        border-radius: 20px;
    }

    main.switch {
        background-image: linear-gradient(to bottom,rgba(224, 203, 108, 0.7),rgba(224, 189, 106, 0.1));
    }

    body.switch {
        background-image:url(images/macbookBG-night.jpg);
    }

    #phrase {
        display:flex;
        font-size:2.9em;
        margin:0;
        font-family: 'deseo-medium';
        gap:5px;
        color:navy;
        position:fixed;
        top:10px;
        left:20px;
        width:1000px;
    }

    #phrase p {
        margin:0;
    }

    #phrase p:last-of-type {
        opacity: 0;
    }

    body.switch #phrase p:last-of-type {
        opacity: 1;
        font-family:'rl-horizon';
        font-size:44px;
    }

    button {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
    }

    section li {
        background-color:transparent;
        color:#E4FAC9;
        text-align:left;
        align-items:left;
        justify-content:left;
    }

    section a {
        color:#E4FAC9;
    }

    section.switch li:hover {
        background-color: #FFBA0D;
        color: navy;
    }

    body.switch section li {
        background-color: transparent;
        color:#E4FAC9;
    }

    body.switch section a {
        background-color: transparent;
        color:#E4FAC9;
    }

    body.switch section a:hover {
        color:#07375D;
    }

    section ul,
    section ol {
        gap:0px;
    }
}






/* ----------- imac+ -------------- */
@media (min-width: 1200px) {
    body {
        background-image:url(images/imacBG.jpg);
        
    }

    body.switch {
        background-image:url(images/imacBG-night.jpg);
    }

    #container {
        width:800px;
        margin-right:10px;
        padding-top:260px;
        padding-left:150px;
        position:absolute;
        bottom:0;
        right:0;
    }

    main {
        display: flex;
        justify-content: space-evenly;
        margin: 1em auto;
    }

    button {
        top:90px;
    }
}

@media (min-width: 1600px) {
    body {
        background-image:url(images/imacBG.jpg);
        
    }

    body.switch {
        background-image:url(images/imacBG-night.jpg);
    }

    #container {
        width:1000px;
        margin-right:10px;
        padding-top:260px;
        padding-left:150px;
        position:absolute;
        bottom:15%;
        right:7%;
    }

    main {
        display: flex;
        justify-content: space-evenly;
        margin: 1em auto;
    }

    button {
        top:230px;
    }
}